@media only screen and (min-width: 1282) {
    header {
        height: 70px;
    }

    nav {
        height: 70px;
        margin-right: 40px;
        gap: 1.5rem;
    }

    .logo {
        margin-left: 40px;
        margin-right: 3rem;
    }

    .nav-list {
        margin-right: 40px;
        gap: 1.5rem;
    }

    .nav-list a {
        font-size: 18px;
        padding: 0 1rem;
    }

    .btn {
        padding: 1rem;
    }

    .sub-menu {
        width: 18rem;
        top: 6rem;
    }

    .sub-menu li {
        line-height: 3rem;
    }

    .nav-list li {
        line-height: 6rem;
    }
}


@media  only screen and (max-width: 1281px) and (min-width: 767px){

    .nav-list {
        position: fixed;
        top: 60px;
        left: 0;
        flex-direction: column;
        background-color: #191919;
        z-index: 1000;
        align-items: initial;
        display: none;
        overflow-y: scroll ;
        width: 100%;
    }

    .logo {
        margin-left: 40px;
        margin-right: 3rem;
    }

    .nav-list > li {
        line-height: 3rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        margin-left: 1rem;
        max-height: 0;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        margin-right: 0.4rem;
        padding-right: 1rem;
    }

    .sub-menu .sub-menu {
        border: none;
        overflow: hidden;
        margin-right: 0.4rem;
    }

    .sub-menu::before {
        display: none;
    }

    .nav-list li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .menu-icons {
        display: block;
    }

    .fa-times {
        display: none;
    }

    nav.active .fa-times {
        display: block;
    }

    nav.active .fa-bars {
        display: none;
    }
    
    nav.active .nav-list {
        display: flex;
    }

    /* hero section */

    .hero-content{
        bottom: 7%;
    }

    .hero-content h1{
        font-size: var(--normal-font-size);
    }


    /* Apply now to transform your future */
    .apply-container{
        flex-direction: column;
    }
    
    .apply-content{
        width: 80%;
    }

    /* How to apply */
    .wrapper{
        flex-direction: column-reverse;
        width: 100%;
    }

    .text_box{
        width: 80%;
    }

    .image-container{
        width: 80%;
        
    }

    .follow-icons i {
        font-size: 1.5rem;
    }


    /* Admission Enquiry Section */
    .admission-container {
        flex-direction: column;
    }

    .form-section{
        width: 100%;
    }

    .image-section{
        width: 100%;
    }

    .image-section img{
        width: 100%;
        border-radius: 16px;
        display: none;
    }

    /* Need Personalized Guidance Section */

    .guidance-flex {
        flex-direction: column;

    }

    .guidance-content{
        width: 100%;
    }

    .guidance-image-wrapper{
        width: 100%;
        justify-content: center;
    }

    .guidance-image img{
        width: 100%;
    }

    /* footer */
    footer .container{
        flex-direction: column;
        align-items: center;
    }

    footer .container img{
        width: 50%;
    }

    footer .footer-content{
        width: 100%;
    }

    footer .footer-content p{
        align-self: center;
        
    }

}

@media only screen and (max-width: 766px) {
    .nav-list {
        position: fixed;
        top: 60px;
        left: 0;
        flex-direction: column;
        background-color: #191919;
        z-index: 1000;
        align-items: initial;
        display: none;
        overflow-y: scroll ;
        width: 100%;
    }

    .logo {
        margin-left: 20px;
        margin-right: 3rem;
    }

    .nav-list > li {
        line-height: 3rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        margin-left: 1rem;
        max-height: 0;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        margin-right: 0.4rem;
        padding-right: 1rem;
    }

    .sub-menu .sub-menu {
        border: none;
        overflow: hidden;
        margin-right: 0.4rem;
    }

    .sub-menu::before {
        display: none;
    }

    .nav-list li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .menu-icons {
        display: block;
    }

    .fa-times {
        display: none;
    }

    nav.active .fa-times {
        display: block;
    }

    nav.active .fa-bars {
        display: none;
    }
    
    nav.active .nav-list {
        display: flex;
    }

    /* hero section */


    .hero-content{
        bottom: 7%;
    }

    .hero-content p{
        font-size: 0px;
    }

    .hero-content h1{
        font-size: var(--normal-font-size);
    }

    /* Apply now to transform your future */

    .apply-container{
        flex-direction: column;
    }
    
    .apply-content{
        width: 80%;
    }

    /* How to apply */
    .wrapper{
        flex-direction: column-reverse;
        width: 100%;
    }

    .text_box{
        width: 80%;
    }

    .image-container{
        width: 80%;
    }

    /* Admission Enquiry Section */
    .admission-container {
        flex-direction: column;
    }

    .form-section{
        width: 100%;
    }

    .image-section{
        width: 100%;
    }

    .image-section img{
        width: 100%;
        border-radius: 16px;
        display: none;
    }

    .follow-icons li {
        padding: 16px;
    }

    .follow-icons i {
        font-size: 24px;
    }

    /* Need Personalized Guidance Section */

    .guidance-flex {
        flex-direction: column;

    }

    .guidance-content{
        width: 100%;
    }

    .guidance-image-wrapper{
        width: 100%;
        justify-content: center;
    }

    .guidance-image img{
        width: 100%;
    }

    .guidance-btn {
        font-size: 14px;
    }

    /* footer */

    
    footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        gap: 30px;
    }

    footer .container img {
        width: 40%;
        max-width: 120px; 
    }

    footer .footer-content {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer .footer-content h3 {
        font-size: var(--normal-font-size); 
    }

    footer .footer-content p {
        align-self: center;
        font-size: calc(var(--small-font-size) + 2px);
        max-width: 90%;
    }

    footer .footer-content ul {
        padding-left: 0;
    }

    footer .footer-content .list li {
        padding: 5px;
        text-align: center;
    }

    footer .footer-content .list li::before {
        width: 50px;
    }

    footer .footer-content .social-icons {
        padding-top: 10px;
    }

    footer .bottom-bar {
        margin-top: 30px;
        padding: 10px;
    }

    footer .bottom-bar p {
        font-size: calc(var(--small-font-size) + 2px);
    }
}

